<div class="body-wrapper">
  <div class="main" ng-controller="hjController as hj">
    <div class="page-header">
      <h1 class="animated bounce">Here's Johnny!</h1>
    </div>
    <!-- Hero image -->
    <div class="hero-container">
      <img ng-show="hj.choice === 'shining'" default src="http://stream1.gifsoup.com/view7/4658387/here-s-johnny-o.gif" />
      <img ng-show="hj.choice === 'simpsons'" src="http://file2.instiz.net/data/file/20150120/f/0/a/f0a238928f61bfd829e3f5f5c3467004.gif" />
    </div>
    <div>
      <button
        class="btn btn-primary"
        ng-class="hj.choice === 'shining' ? 'btn-lg active' : 'inactive'"
        ng-click="hj.setChoice('shining')">The Shining version</button>
      <button
        class="btn btn-primary"
        ng-class="hj.choice === 'simpsons' ? 'btn-lg active' : 'inactive'"
        ng-click="hj.setChoice('simpsons')">The Simpsons version</button>
    </div>
    <div class="tintbox">
      <h2>How many sentences would you like?</h2>
      <div>
        <form>
          <input name="" type="number" ng-model="hj.numberOfSentences" placeholder="number of sentences">
          <input class="btn btn-default" type="submit" ng-click="hj.getSentence()" value="Here's {{hj.johnny}}!">
        </form>
      </div>
      <button class="animated bounce btn btn-success" ng-show="hj.text[hj.choice]" ng-click="hj.copy()" id="copyBtn">Copy</button>
      <div id="result">{{hj.text[hj.choice]}}</div>
    </div>
  </div>
</div>
